!!! 5
html(lang='en')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/underscore.js')
    script(src='/javascripts/backbone.js')
    // script(src='/javascripts/nav.js')
    != js('nav')
  body!= body
